/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
HelloFolio/target
*.swp
*.swo
/HelloFolio/nbproject/
